<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EllsLibrary</title>
</head>
<body>
<h1>Publisher List</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.id}"></td>
        <td th:text="${publisher.name}"></td>
        <td th:text="${publisher.city}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>